.customSidebar {
	width:320px;
	left: -306px;
}
body > #pageContainer.page_lockedSidebar{
	padding-left: 340px;
}

.margin-top{
	margin-top:10px;
}

p.wrong-input-message {
	color: whitesmoke;
    font-weight: bolder;
    font-size: inherit;
    margin-top: 5px;
    padding: 7px;
	border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}


li.list-group-item {
	white-space: nowrap;
	overflow-x: hidden;
}