mixin bootstrap-modal
	<!-- Modal -->
	#myModal(class="modal fade", role="dialog")
		.modal-dialog

			<!-- Modal content-->
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal") &times;
					h4.modal-title 
				.modal-body
				.modal-footer